<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='index.css'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
	<script src='index.js'></script>
</head>
<body ng-app="angularApp">
	<span ng-controller="MessageController">
		<form ng-submit="submitText()">
  		<input ng-model="searchText" placeholder="Share an Idea!">
		</form>
  	<div ng-repeat="object in textList">{{object.text}} {{object.likes}}
  		<button ng-click='like(object)'>Like!</button>
  		<button ng-click='dislike(object)'>Dislike :(</button>
  	</div>
	</span>
</body>
</html>
