form {
  text-align: center;
  font-size: 125%;
  color: orange;
}

input {
  width: 65%;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

table {
  text-align:center;

}

tr {
  
}

.amessage {
  text-align: left;
  width: 600px;
}

.alike {
  text-align:left;
}

.adislike {
  text-align:left;
}

.alikecounter {
  width: 75px;
  text-align: right;
}







