form {
  text-align: center;
  font-size: 125%;
  color: green;
}

input {
  width: 65%;
  text-align: center;
}

input:hover {

}

h1 {
  text-align: center;
}

div {
  text-align: center;
  font-size: 110%;
}

button {

}






