<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='index.css'/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
	<script src='index.js'></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-app="angularApp">
	<h1>Idea Box</h1>
	<span ng-controller="MessageController">
		<form ng-submit="submitText()">
  		<input ng-minlength="1" ng-model="searchText" placeholder="Share an Idea!" required>
		</form>
    <table align="center">
      <!-- don't use object.likes, likes as an attribute is assumed -->
    <tr ng-repeat='object in textList | orderBy:"-likes"'>
    <br> 
  	<td class="amessage">Idea # {{object.index}}: {{object.text}}</td>
  		<td class="alike"><button ng-click='like(object)'>Like!</button></td>
  		<td class="adislike"><button ng-click='dislike(object)'>Dislike :(</button></td>
      <td class="alikecounter">{{object.likes}} Likes</td>
    </tr>
    </table>
	</span>
</body>
</html>
